{{> header}}

<div class="container">
    {{> sidebar}}
  
    <div class="in-container__right">
      <div class="heading-container d-flex-responsif">
        <form action="/movies/search" class="search-input" method="GET">
          <i class="fas fa-search"></i>
          <input type="search" name="searchInput" placeholder="Type to search">
        </form>
        <div class="account-detail d-flex align-center">
          {{#if isLogin}}
            <i class="fas fa-bell"></i>
            <i class="fas fa-message"></i>
            <div class="account d-flex align-center">
              <img class="profile_account" src="/static/img/profile1.jpg" alt="profile account">
              <div class="about_account">
                <p class="title_of_about-account">{{user.name}}</p>
                <p class="subtitle">Dancer</p>
              </div>
            </div>
          {{else}}
            <a class="btn btn-primary" href="/register">Sign up</a>
          {{/if}}
        </div>
      </div>
      <div class="main">
          <div class="box-detail_mv">
              <div class="image-movies">
                <img src="/uploads/{{movies.0.image}}" alt="">
              </div>
              <div class="about-movies">
                <h2>{{movies.0.movie_name}}</h2>
                <div class="genre"><p>{{movies.0.type_name}}</p></div>
                <p>{{movies.0.content}}</p>
                <br>
                <div class="description">
                  <h3>Description</h3>
                  <p>Movie hour: {{movies.0.movie_hour}}</p>
                </div>
              </div>
          </div>
          <br>
          {{#if isLogin}}
            <form action="/movies/ticket" method="POST" class="form-ticket">
              <h2 class="text-center">Form ticket</h2>
              <label>
                <input type="text" name="moviesId" value="{{movies.0.id}}" placeholder="your name.." hidden>
                <input type="text" name="userId" value="{{user.id}}" placeholder="your name.." hidden>
              </label>
              <br>
              <label>
                <p>Ticket number: </p>
                <input type="text" name="ticketNumber" value="15" placeholder="tcket number.." required>
              </label>
              <br>
              <label>
                <p>Date show: </p>
                <input type="date" name="dateShow" value="2022-12-01" required>
              </label>
              <br>
              <label>
                <p>Time show: </p>
                <input type="time" name="timeShow" required>
              </label>
              <br>
              <label>
                <p>Price </p>
                <input type="text" name="price" value="4000" placeholder="price.." required>
              </label>
              <br>
              <label>
                <p>Venue </p>
                <input type="text" name="venue" value="JL. Dakota" placeholder="venue.." required>
              </label>
              <br>
              <button type="submit" class="btn btn-submit">Buy Ticket</button>
            </form>
          {{else}}
          <p class="text-center"><a href="/login" class="color-primary">Login</a> to buy this ticket</p>
          {{/if}}
      </div>
    </div>

    <button class="btn-nav" onclick="openNav()">Nav</button>
</div>

</div>



<script src="/static/js/scMovie.js"></script>

{{> footer}}