{{> header}}

<div class="container">
    {{> sidebar}}
  
    <div class="in-container__right">
      <div class="heading-container d-flex-responsif">
        <form action="/movies/search" class="search-input" method="GET">
          <i class="fas fa-search"></i>
          <input type="search" name="searchInput" placeholder="Type to search">
        </form>
        <div class="account-detail d-flex align-center">
          {{#if isLogin}}
            <i class="fas fa-bell"></i>
            <i class="fas fa-message"></i>
            <div class="account d-flex align-center">
              <img class="profile_account" src="/static/img/profile1.jpg" alt="profile account">
              <div class="about_account">
                <p class="title_of_about-account">{{user.name}}</p>
                <p class="subtitle">Dancer</p>
              </div>
            </div>
          {{else}}
            <a class="btn btn-primary" href="/register">Sign up</a>
          {{/if}}
        </div>
      </div>
      <div class="main">
  
        <div class="head-of-main">
          <div class="wrapper-jumbotron d-flex-vertical">
            <div class="section_one d-flex">
              <div class="episode">
                <p>10 episode</p>
              </div>
              <div class="watcher">
                <p>+ 8 Friends are watching</p>
              </div>
            </div>
            <div class="section_two">
              <h1 class="title">The Witcher</h1>
              <button class="btn btn-theme">Watch</button>
              <button class="btn btn-second">+</button>
            </div>
          </div>
          <br>
          {{#if favorites}}
            <div class="parties have-loader">
              <div class="loading">
                <span style="--i:1.5;"></span>
                <span style="--i:3.5;"></span>
                <span style="--i:6.5;"></span>
              </div>
              <h2>Parties</h2>
              <ul class="list-parties d-flex-responsif">
                {{#each favorites}}
                  <li class="d-flex-vertical">
                    <a href="/movies/detail/{{this.id}}">
                      <div class="header d-flex-horizontal">
                        <img src="/uploads/{{this.image}}" alt="">
                      </div>
                      <div class="about">
                        <p class="text-center">{{this.movie_name}}</p>
                      </div>
                    </a>
                  </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}
        </div>
  
      </div>
    </div>
    <button class="btn-nav" onclick="openNav()">Nav</button>
</div>

<script src="/static/js/scMovie.js"></script>
<script>
  const parties = document.querySelector('.parties')
  setTimeout(function() {
    parties.classList.add('end-loader')
    parties.classList.remove('have-loader')
  }, 2000)
</script>
{{> footer}}