{{> header}}

{{#if message}}
  <div class="alert alert-{{message.type}}" role="alert">
    {{message.message}}
  </div>
{{/if}}


<div class="container">
    <div class="in-container__left dashboard text-center">
        <div class="heading-container">
        <div class="logo dashboard">
            <span></span>
            <span></span>
            <span></span>
        </div>
        </div>
        <div class="main">
            <div class="section-one__main">
            <nav class="navbar">
                <p class="title_navbar">Menu</p>
                <ul>
                    <li><a class="text-center" href="/"><i class="fas fa-home"></i></a></li>
                    <li class="active"><a class="text-center" href="/dashboard"><i class="fas fa-columns"></i></a></li>
                    <li><a class="text-center" href="/dashboard/movies"><i class="fas fa-th-list"></i></a></li>
                    <li><a class="text-center" href="/movies/cart"><i class="fas fa-shopping-cart"></i></a></li>
                </ul>
                <br>
                <p class="title_navbar">Social</p>
                <ul>
                    <li><a href="/friends"><i class="fas fa-user"></i></a></li>
                    <li><a href="/parties"><i class="fas fa-gift"></i></a></li>
                </ul>
                <br>
                <p class="title_navbar">General</p>
                <ul>
                    <li><a href="/movies/setting"><i class="fas fa-cog"></i></a></li>
                    <li><a href="/logout"><i class="fas fa-sign-out-alt"></i></a></li>
                </ul>
            </nav>
            </div>
        </div>
    </div>
  
    <div class="in-container__right dashboard">
        <h2>Dashboard</h2>
        <div class="d-flex">
            <div class="hero-image_dashboard">
                <div class="box-hero dashboard">
                    <i class="fas fa-users"></i>
                    <p class="about">All user</p>
                    <p>{{allUser}}</p>
                </div>
            </div>
            <div class="hero-image_dashboard">
                <div class="box-hero dashboard">
                    <i class="fas fa-ticket-alt"></i>
                    <p class="about">All movie</p>
                    <p>{{allMovie}}</p>
                </div>
            </div>
        </div>
        <div class="info">
            <div class="info-user">
                <p>All user</p>
                <table border="1px">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                    {{#each users}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.email}}</td>
                        </tr>
                    {{/each}}
                </table>
            </div>
            <br>
            <div class="info-admin">
                <p>Admin</p>
                <table border="1px">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                    {{#each admins}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.email}}</td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
    <button class="btn-nav" onclick="openNav()">Nav</button>
</div>


{{> footer}}