{{> header}}

<div class="container">
    {{> sidebar}}
  
    <div class="in-container__right">
      <div class="heading-container d-flex-responsif">
        <form action="/movies/search" class="search-input" method="GET">
          <i class="fas fa-search"></i>
          <input type="search" name="searchInput" placeholder="Type to search">
        </form>
        <div class="account-detail d-flex align-center">
          {{#if isAdmin}}
            <i class="fas fa-bell"></i>
            <i class="fas fa-message"></i>
            <div class="account d-flex align-center">
              <img class="profile_account" src="/static/img/profile1.jpg" alt="profile account">
              <div class="about_account">
                <p class="title_of_about-account">{{user.name}}</p>
                <p class="subtitle">Dancer</p>
              </div>
            </div>
          {{else}}
            <a class="btn btn-primary" href="/register">Sign up</a>
          {{/if}}
        </div>
      </div>
      <div class="main">
          <div class="box-detail_mv">
              <div class="image-movies">
                <img src="/uploads/{{movies.0.image}}" alt="">
              </div>
              <div class="about-movies">
                <h2>{{movies.0.movie_name}}</h2>
                <div class="genre"><p>{{movies.0.type_name}}</p></div>
                <p>{{movies.0.content}}</p>
                <br>
                <div class="description">
                  <h3>Description</h3>
                  <p>Movie hour: {{movies.0.movie_hour}}</p>
                </div>
                <br>
                <div class="d-flex">
                  <button class="btn btn-update mr-l"><a href="/dashboard/movies/update/{{movies.0.id}}">Update</a></button>
                  <button class="btn btn-delete"><a href="/dashboard/movies/delete/{{movies.0.id}}/{{movies.0.image}}">Delete</a></button>
                </div>
              </div>
              {{!-- <form action="/dashboard/movies/{{movies.0.id}}">
                <label>
                  <input type="text" name="movieName">
                </label>
                <label>
                  <input type="text" name="movieName">
                </label>
                <label>
                  <input type="text" name="movieName">
                </label>
                <label>
                  <input type="text" name="movieName">
                </label>
              </form> --}}
          </div>
          <br>
          
      </div>
    </div>

    <button class="btn-nav" onclick="openNav()">Nav</button>
</div>

</div>



<script src="/static/js/scMovie.js"></script>

{{> footer}}